{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'images/favicon.png' %}" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <title>Red Drop | Find Blood Donors</title>
  </head>
  <body>
    <div id="root">
    </div>
      {% render_bundle 'main' %}
  </body>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!--<script src="{% static 'js/slick.min.js' %}"></script>-->
  <script src="{% static 'js/main.js' %}"></script>

</html>